footer {
  background-color: #fff3cb;
  width: 100%;
  height: 20vh;
  border: 1px solid grey;
  text-align: center;
}


.spacer {
  display: inline-block;
  margin: 10px;
  fill:  black;

  /*add unclicked / clicked link colors */
}


