footer {
  width: 100%;
  height: 20vh;
  text-align: center;
  color: whitesmoke;
}


.spacer {
  display: inline-block;
  margin: 10px;

}

/*add unclicked / clicked link colors */

a {
  color: whitesmoke;

}
