footer {
  width: 100%;
  height: 20vh;
  text-align: center;
  color: white;
  background-color: black;
  /*background-image: linear-gradient(to bottom right, white, black);*/
}


.spacer {
  display: inline-block;
  margin: 10px;

}

/*add unclicked / clicked link colors */

a {
  color: white;

}
