.mat-toolbar {
  color: #2290ff;
  position: fixed;
  top: 0%;
  z-index: 1;
  background-color: black;


}

.button {
  margin: 2px;
  color: #2290ff;
  background-color: black;
}

.spacer {
  flex: 1 1;
}

