<mat-toolbar class="mat-toolbar">
  <button mat-icon-button class="icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="spacer"></span>
  <a href="#Welcome">
    <button mat-flat-button color="none" class="button">About</button>
  </a>

  <a href="#Projects">
    <button mat-flat-button color="none" class="button">Projects</button>
  </a>

  <a href="#Experience">
    <button mat-flat-button color="none" class="button">Experience</button>
  </a>

  <a href="#Contact">
    <button mat-flat-button color="none" class="button">Contact</button>
  </a>

</mat-toolbar>



<router-outlet></router-outlet>
