.mat-toolbar {
  background-color: grey;
  color: black;


}

.icon {
  background-color: grey;
  border-radius: 10px;
  display: inline-block;
  background-repeat: no-repeat;

}

.spacer {
  flex: 1 1;

}

