<main class="projects-main" id="Projects">


<section class="projects-description">
  <h1>Projects!</h1>
  <p>Check this shit out!</p>
</section>

<section class="projects">
<div class="test-box">
  <a target="_blank" href="assets/test_pic.png">
    <img src="assets/test_pic.png" alt="test_pic"/>
  </a>
  <div class="desc">Cube Blast</div>
  </div>

<div class="test-box">
  <a target="_blank" href="assets/baby cub.jpg">
    <img src="assets/baby cub.jpg" alt="test_pic" />
  </a>
  <div class="desc">Photographer</div>
</div>

<div class="test-box">
  <a target="_blank" href="assets/STARSHIP_copy.jpg">
    <img src="assets/STARSHIP_copy.jpg" alt="test_pic" />
  </a>
  <div class="desc">Calculator</div>
</div>

</section>


</main>
<router-outlet></router-outlet>
