<main class="projects-main">

<div class="projects-spacer" id="Projects"></div>

<section class="projects-description">
  <h1>PROJECTS</h1>
</section>

<section class="projects">
<div class="test-box">
  <a target="_blank" href="assets/zero.png">
    <img src="assets/zero.png" alt="games"/>
  </a>
  <div class="desc">Games</div>
  </div>

<div class="test-box">
  <a target="_blank" href="assets/ableton.png">
    <img src="assets/ableton.png" alt="music"/>
  </a>
  <div class="desc">Music</div>
</div>

<div class="test-box">
  <a target="_blank" href="assets/projects.png">
    <img src="assets/projects.png" alt="projects"/>
  </a>
  <div class="desc">Projects</div>
</div>
</section>


</main>
<router-outlet></router-outlet>
