.projects-main {
  background-color: #fed3ff;
  width: 100%;
  height: 100vh;
}

.projects-description {
  border: 1px solid grey;
  text-align: center;
}

.projects {
  border: 1px solid grey;

}

img {
  display: inline-block;
  width: 80%;
  height: auto;
  margin: auto;
}

.test-box {
  display: inline-block;
  width: 20%;
  height: auto;
  text-align: center;
}

