<main class="projects-main" id="Projects">


<section class="projects-description">
  <h1>PROJECTS</h1>
  <p>hi sydeeeee</p>
</section>

<section class="projects">
<div class="test-box">
  <a target="_blank" href="assets/welcome.png">
    <img src="assets/welcome.png" alt="test_pic"/>
  </a>
  <div class="desc">Games</div>
  </div>

<div class="test-box">
  <a target="_blank" href="assets/zero.png">
    <img src="assets/zero.png" alt="test_pic"/>
  </a>
  <div class="desc">Music</div>
</div>

<div class="test-box">
  <a target="_blank" href="assets/eighty6.png">
    <img src="assets/eighty6.png" alt="test_pic"/>
  </a>
  <div class="desc">Projects</div>
</div>
</section>


</main>
<router-outlet></router-outlet>
