<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<body>
  <app-toolbar></app-toolbar>
    <nav>
      <header>
        <ul>
          <li><a href="#About" class="nav-link">About</a></li>
          <li><a href="#Projects" class="nav-link">Projects</a></li>
          <li><a href="#Skills" class="nav-link">Skills</a></li>
          <li><a href="#Experience" class="nav-link">Experience</a></li>
          <li><a href="#Contact" class="nav-link">Contact</a></li>
        </ul>
      </header>
    </nav>
  <app-welcome></app-welcome>
  <app-projects></app-projects>
  <app-skills></app-skills>
  <app-experience></app-experience>
  <app-footer></app-footer>




</body>


<router-outlet></router-outlet>
