<main class="welcome">
  <nav>
    <header>
      <ul>
        <li><a href="#About" class="nav-link">About</a></li>
        <li><a href="#Projects" class="nav-link">Projects</a></li>
        <li><a href="#Skills" class="nav-link">Skills</a></li>
        <li><a href="#Experience" class="nav-link">Experience</a></li>
        <li><a href="#Contact" class="nav-link">Contact</a></li>
      </ul>
    </header>
  </nav>
  <section class="about" id="About">
    <header>
      <h1>Welcome! My name is Colin Amicon</h1>
    </header>
    <p>I am a full-stack Angular Developer</p>

  </section>

</main>


<router-outlet></router-outlet>
