main {
  background-color: #a2ffff;
  width: 100%;
  height: 100vh;

}

.welcome-header {
  border: 1px solid grey;
  text-align: center;

}

li {
  border: 1px solid grey;
  display: inline-block;
  width: 100px;
  text-align: center;
  position: relative;
  left: 500px;
}


code {
  background-color: #d6d6d6;
  border-radius: 5px;
  border: 1px solid grey;
}
